<section>
	<h2 style="text-align: center;">Education</h2>
	<table class="table">
		<tr>
			<th>Date</th>
			<th>Degree</th>
			<th>Institute</th>
		</tr>
		<tr>
			<td>January 2013 - June 2016</td>
			<td>PhD in Electrical and Electronic Engineering</td>
			<td>The University of Manchester, School of Electrical and Electronic Engineering, Manchester, United Kingdom</td>
		</tr>
		<tr>
			<td>September 2011 – December 2012</td>
			<td>MPhil in Electrical and Electronic Engineering</td>
			<td>The University of Manchester, School of Electrical and Electronic Engineering, Manchester, United Kingdom</td>
		</tr>
	</table>
</section>


