<section>
	<h2 style="text-align: center;">Publications (2017)</h2>
	<table class="table">
		<tr>
			<th>Publication</th>
		</tr>
		<tr>
			<td><b>M. A. Alim</b> and A. A. Rezazadeh,<a href="http://ieeexplore.ieee.org/document/7855754/" target="_blank">“Thermal Influence on Multi-Bias Small and Large-Signal Parameters of GaAs pHEMT Fabricated in Multilayer 3-D MMIC,”</a><span class="publication-title">IEEE Transactions on Electron Devices,</span> Vol. 64, No.4, pp.1005-1012, April 2017.</td>
		</tr>
		<tr>
			<td><b>M. A. Alim</b>, Mayahsa M Ali, N. Haris, P.B. K. Kyabaggu and Ali A. Rezazadeh<a href="http://iopscience.iop.org/article/10.1088/1361-6641/aa646f/pdf" target="_blank">“Device Considerations and Characterizations of Pre and Post Fabricated GaAs Based pHEMTs Using Multilayer 3-D MMIC Technology,”</a><span class="publication-title">Semicond. Sci. Technol.,</span>Volume 32, Number 5, pp. 055003, March 28, 2017.</td>
		</tr>
		<tr>
			<td>
				<b>M. A. Alim</b> and A. A. Rezazadeh,<a href="http://www.sciencedirect.com/science/article/pii/S0038110117300059?np=y&npKey=24e7a4983e5e5885743499b8c3cc01337a84be126627444e2e4b6856f0d09046" target="_blank">"3-D multilayer monolithic integration of vertical-oriented double-heterojunction GaAs based pHEMT and thermal influence on device parameters,"</a><span class="publication-title"> Solid-State Electron.,</span> vol. 126, pp. 11-18, May 2017.
			</td>
		</tr>
		<tr>
			<td>
				N. Haris, P. B. K. Kyabaggu, <b>M. A. Alim</b> and A. A. Rezazadeh,<a href="https://www.google.com/url?q=http://iopscience.iop.org/article/10.1088/1361-6641/aa681b&sa=D&ust=1493102465297000&usg=AFQjCNHdK9zQ63pn217sPTGB7wEkha-zEA" target="_blank">“Design and Analysis of Compact MMIC Switches Utilising GaAs pHEMTs in 3D Multilayer Technology,”</a><span class="publication-title">Semicond. Sci. Technol.,</span> March 21, 2017.
			</td>
		</tr>
	</table>
</section>
