<section>
	<h2 style="text-align: center;">Publications (2015)</h2>
	<table class="table">
		<tr>
			<th>Publication</th>
		</tr>
		<tr>
			<td><b>M. A. Alim</b>, A. A. Rezazadeh, and C. Gaquiere,<a href="http://iopscience.iop.org/article/10.1088/0268-1242/30/12/125005/meta;jsessionid=449CDB63D674D56572B9273EB678A82A.c2.iopscience.cld.iop.org" target="_blank"> “Thermal characterization of DC and small-signal parameters of 150 nm and 250 nm gate length AlGaN/GaN HEMTs grown on a SiC substrate,”</a><span class="publication-title"> Semicond. Sci. Technol.,</span> vol. 30, no. 12, p. 125005, 2015.</td>
		</tr>
		<tr>
			<td><b>M. A. Alim</b>, A. A Rezazadeh, C. Gaquiere, M. M. Ali, N. Haris, P. B. Kyabaggu, Y. Zhang,<a href="http://ieeexplore.ieee.org/document/7345088/?arnumber=7345088" target="_blank"> “0.25 µm AlGaN/GaN HEMT nonlinearity modelling and characterization over a wide temperature range”,</a><span class="publication-title"> Microwave Integrated Circuits Conference (EuMIC),</span> 2015 10th European, Paris, France; 09/2015.</td>
		</tr>
		<tr>
			<td>
				<b>M. A. Alim</b> A. A Rezazadeh, C. Gaquiere, M. M. Ali, N. Haris, P. B. Kyabaggu, Y. Zhang,<a href="http://ieeexplore.ieee.org/document/7345842/?arnumber=7345842" target="_blank"> “Nonlinearity measurement and analysis of 0.25 um GaN HEMT over frequency and temperature using two-tone intermodulation distortion”,</a><span class="publication-title">  Microwave Conference (EuMC),</span> 2015 European, Paris, France; 09/2015.
			</td>
		</tr>
		<tr>
			<td>
				P. B. K. Kyabaggu, N. Haris, A. A. Rezazadeh, E. Sinulingga,<b>M. A. Alim</b>, Y. Zhang<a href="http://ieeexplore.ieee.org/document/7345815/?arnumber=7345815" target="_blank"> “Design and realization of a pHEMT diode MMIC power limiter using 3D GaAs multilayer CPW technology,”</a><span class="publication-title"> Microwave Conference (EuMC), </span> 2015 European, Paris, France; 09/2015.
			</td>
		</tr>
		<tr>
			<td>
				N. Haris, P. B. K. Kyabaggu,<b>M. A. Alim,</b> Yongjian Zhang, Ali A Rezazadeh, <a href="http://ieeexplore.ieee.org/document/7345108/?arnumber=7345108" target="_blank"> “Device considerations and characterisations of double-channel GaAs pHEMT Schottky diodes for limiter applications”</a><span class="publication-title"> Microwave Integrated Circuits Conference (EuMIC), </span> 2015 10th European, Paris, France; 09/2015.
			</td>
		</tr>
		<tr>
			<td>
				M. Ahmad, M. Amin, A. A. Khan, M. T. Azim and <b>M.A. Alim,</b><a href="http://ieeexplore.ieee.org/document/7346070/?arnumber=7346070" target="_blank"> “Analysis of Circular Polarization of the Quadriﬁlar Helix Antenna in the presence of Ground Plane for LEO Satellites”,</a>in<span class="publication-title">Proc. EuRAD, </span> Sep. 2015 pp. 1543–1546.
			</td>
		</tr>
	</table>
</section>
