<!-- <section> -->
	<h2 style="text-align: center;">Publications (2014)</h2>
	<table class="table">
		<tr>
			<th>Publication</th>
		</tr>
		<tr>
			<td>Y. Zhang, A. A Rezazadeh, H. A Khan, E. P. Sinulingga, P. B. Kyabaggu and <b>M. A. Alim;</b><a href="http://ieeexplore.ieee.org/document/6986486/?arnumber=6986486" target="_blank"> “Simulation and Analysis of InGaP/GaAs DHPTs Using Eye Diagrams for Short Wavelength Optical Detection”,</a>in<span class="publication-title"> Proc. 44th EuMC,</span> Oct. 2014, pp. 524–527.</td>
		</tr>
		<tr>
			<td><b>M. A. Alim,</b>A. A. Rezazadeh, M. M. Ali, E. P. Sinulingga, P. B. Kyabaggu, Y. Zhang and C. Gaquiere;<a href="http://ieeexplore.ieee.org/document/6997829/?arnumber=6997829" target="_blank"> “Thermal characterisation of AlGaN/GaN HEMT on silicon carbide substrate for high frequency application,”</a>in<span class="publication-title"> Proc. 9th EuMIC,</span> Oct. 2014, pp. 210–213.</td>
		</tr>
	<!-- </table> -->
<!-- </section> -->
